<h1>Links Index</h1>

<input id="search" placeholder="Search Links">

<%= render partial: 'shared/link_form' %>

<%= render partial: 'shared/filters' %>

<% if current_user.links %>
  <%= render partial: 'shared/links', locals: { links: @links } %>
<% end %>
