<h1>Links Index</h1>

<div class='new_link_form'>
  <%= render partial: "shared/link_form" %>
</div>

<% unless @links.nil? %>
  <%= render partial: "shared/links", locals: {links: @links} %>
<% end %>
