<h1>Links Index</h1>

<input id="search" placeholder="Search Links">

<%= render partial: 'link_form' %>

<%= render partial: 'filters' %>

<% if current_user.links %>
  <%= render partial: 'links', locals: { links: @links } %>
<% end %>
